<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=0.6" />
      <title>Piano Tracker</title>
      <link rel="stylesheet" href="/static/styles/style.css" />
      <link
         rel="stylesheet"
         href=" {{ url_for('static', filename='styles/style.css') }}"
      />
   </head>
   <body>
      <header>
         <h1>Learned</h1>
      </header>
      <hr />

      <main>
         <nav id="navbar">
            <ul>
               <li>
                  <p>
                     <a href="want-to-learn.html">Want To Learn</a>
                  </p>
               </li>
               <li>
                  <p>
                     <a href="index.html">Home</a>
                  </p>
               </li>
               <li>
                  <p>
                     <a href="learning.html">Learning</a>
                  </p>
               </li>
               <li>
                  <p>
                     <a href="sight-speed.html">Sight Reading Speed</a>
                  </p>
               </li>
               <li>
                  <p>
                     <a href="scales-speed.html">Scales and Chords Speed</a>
                  </p>
               </li>
            </ul>
         </nav>
         <hr />
         <section id="items">
            <ul>
               {% for piece in pieces %}

               <li>
                  <form method="post">
                     <a href="{{piece[1]}}">{{piece[0]}}</a>

                     <input type="hidden" name="delete" value="{{piece[0]}}" />

                     <button type="submit" id="del-btn">X</button>
                  </form>
               </li>

               {% endfor %}
            </ul>
         </section>
         <br />
         <form method="post">
            <fieldset>
               <legend>Add A Piece</legend>
               <p>
                  <label for="title">Title</label>
                  <input
                     type="text"
                     name="title"
                     id="title"
                     placeholder="title of piece here"
                     required
                  />
               </p>
               <p>
                  <label for="link">Link</label>
                  <input
                     type="text"
                     name="link"
                     id="link"
                     placeholder="link to piece here"
                  />
               </p>
               <button type="submit" id="submit-btn">Submit</button>
               <button type="reset" id="reset-btn">Reset</button>
            </fieldset>
         </form>
      </main>
   </body>
</html>
