<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=0.6" />
      <title>Piano Tracker</title>
      <link rel="stylesheet" href="/static/styles/style.css" />
      <link
         rel="stylesheet"
         href=" {{ url_for('static', filename='styles/style.css') }}"
      />
   </head>
   <body>
      <header>
         <h1>Sight Reading Speed</h1>
      </header>
      <hr />
      <p style="color: red">{{ message }}</p>
      <main>
         <nav id="navbar">
            <ul>
               <li>
                  <p>
                     <a href="want-to-learn.html">Want To Learn</a>
                  </p>
               </li>
               <li>
                  <p>
                     <a href="learned.html">Learned</a>
                  </p>
               </li>
               <li>
                  <p>
                     <a href="learning.html">Learning</a>
                  </p>
               </li>
               <li>
                  <p>
                     <a href="index.html">Home</a>
                  </p>
               </li>
               <li>
                  <p>
                     <a href="scales-speed.html">Scales and Chords Speed</a>
                  </p>
               </li>
            </ul>
         </nav>
         <hr />
         <section id="items">
            <ul id="list">
               {% for piece in pieces %}
               <li>
                  <form method="post">
                     {{piece['date']}}
                     <input type="hidden" name="delete" value="{{piece}}" />
                     <button type="submit" id="del-btn">X</button>
                  </form>
                  <ul>
                     <li>Time: {{piece['time']}}</li>
                     <li>Hits: {{piece['hits']}}</li>
                     <li>Misses: {{piece['misses']}}</li>
                     <li>Hits Per Minute: {{piece['hpm']}}</li>
                     <li>Note Count: {{piece['note-count']}}</li>
                  </ul>
               </li>
               {% endfor %}
            </ul>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
            <canvas
               id="sight-chart"
               style="
                  width: 100%;
                  max-width: 700px;
                  background-color: #2b2b2b;
                  border: 5px #242424 solid;
               "
            ></canvas>
            <script type="text/javascript">
               let content = {{ pieces | tojson | safe }};
            </script>
            <script src="{{ url_for('static', filename='js/sight-chart.js')}}"></script>
         </section>
         <form method="post">
            <fieldset>
               <legend>Add Data</legend>
               <p>
                  <label for="date">Date:</label>
                  <input type="date" name="date" id="date" required />
               </p>
               <p>
                  <label for="time">Time:</label>
                  <input
                     type="text"
                     name="time"
                     id="time"
                     placeholder="5:00"
                     value="5:00"
                     required
                     autocomplete="off"
                  />
               </p>
               <p>
                  <label for="hits">Hits:</label>
                  <input
                     type="number"
                     name="hits"
                     id="hits"
                     placeholder="number of hits here"
                     required
                     autocomplete="off"
                  />
               </p>
               <p>
                  <label for="misses">Misses:</label>
                  <input
                     type="number"
                     name="misses"
                     id="misses"
                     placeholder="number of misses here"
                     required
                     autocomplete="off"
                  />
               </p>
               <p>
                  <label for="note-count">Note Count:</label>
                  <input
                     type="number"
                     name="note-count"
                     id="note-count"
                     placeholder="number of notes here"
                     required
                  />
               </p>
               <button type="submit" id="submit-btn">Submit</button>
               <button type="reset" id="reset-btn">Reset</button>
            </fieldset>
         </form>
      </main>
   </body>
</html>
