body {
   background-color: #2b2b2b;
   color: #f5f5f5;
   font-size: 1.5rem; /* Adjusted font size */
   min-height: 85.5vh;
   margin: 0;
   padding: 2vw 5vw;
   border: 10px outset #ddd;
   box-sizing: border-box;
   transition: margin 2s;
   font-family: "Roboto", sans-serif;
}

header {
   text-align: center;
   padding: 20px;
   background-color: #1a1a1a;
   color: #f5f5f5;
   font-size: 2em; /* Adjusted font size */
   letter-spacing: 2px;
   text-transform: uppercase;
}

nav {
   font-size: 1em; /* Adjusted font size */
   background-color: #1a1a1a;
   padding: 15px;
}

a {
   color: #f5f5f5;
   text-decoration: none;
   transition: color 0.5s ease-in-out;
}

a:hover {
   color: #ff6347;
}

#del-btn {
   background-color: #ff6347;
   color: #f5f5f5;
   border: none;
   padding: 5px 10px; /* Adjusted button size */
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px; /* Adjusted font size */
   margin: 4px 2px;
   cursor: pointer;
   transition: background-color 0.5s ease-in-out;
}

#del-btn:hover {
   background-color: #ff4500;
}

input {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
   border: 2px solid #f5f5f5;
   border-radius: 4px;
   background-color: #2b2b2b;
   color: #f5f5f5;
   font-size: 1.25rem; /* Adjusted font size */
}

input:focus {
   outline: none;
   border-color: #ff6347;
}

details {
   border: 1px solid #aaa;
   border-radius: 4px;
   padding: 0.5em 0.5em 0;
   margin-bottom: 1em;
}

summary {
   font-weight: bold;
   margin: -0.5em -0.5em 0;
   padding: 0.5em;
}

details[open] {
   padding: 0.5em;
}

details[open] summary {
   border-bottom: 1px solid #aaa;
   margin-bottom: 0.5em;
}

#submit-btn,
#reset-btn {
   background-color: #ff6347;
   color: #f5f5f5;
   border: none;
   padding: 10px 20px; /* Adjusted button size */
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px; /* Adjusted font size */
   margin: 4px 2px;
   cursor: pointer;
   transition: background-color 0.5s ease-in-out;
}

#submit-btn:hover,
#reset-btn:hover {
   background-color: #ff4500;
}

#submit-btn:active,
#reset-btn:active {
   background-color: #ff6347;
   color: #f5f5f5;
}

#list ul {
   padding-left: 50px;
   padding-right: 50px;
   padding-bottom: 10px;
   font-family: "Courier New", Courier, monospace;
}

#navbar ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
}

#navbar li {
   float: left;
}

#navbar li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

#navbar li a:hover {
   background-color: #111;
}

@media (min-width: 1400px) {
   body {
      margin-left: 5%;
      margin-right: 5%;
   }
}
@media (min-width: 1600px) {
   body {
      margin-left: 8%;
      margin-right: 8%;
   }
}
@media (min-width: 1800px) {
   body {
      margin-left: 11%;
      margin-right: 11%;
   }
}
@media (min-width: 2000px) {
   body {
      margin-left: 14%;
      margin-right: 14%;
   }
}
@media (min-width: 2200px) {
   body {
      margin-left: 17%;
      margin-right: 17%;
   }
}
@media (min-width: 2400px) {
   body {
      margin-left: 20%;
      margin-right: 20%;
   }
}
