body {
   background-color: black;
   color: whitesmoke;
   font-size: 2rem;
   min-height: 85.5vh;
   margin: 0;
   padding: 2vw 5vw;
   border: 10px outset #ddd;
   box-sizing: border-box;
   transition: margin 2s;
}
@media (min-width: 1400px) {
   body {
      margin-left: 5%;
      margin-right: 5%;
   }
}
@media (min-width: 1600px) {
   body {
      margin-left: 8%;
      margin-right: 8%;
   }
}
@media (min-width: 1800px) {
   body {
      margin-left: 11%;
      margin-right: 11%;
   }
}
@media (min-width: 2000px) {
   body {
      margin-left: 14%;
      margin-right: 14%;
   }
}
@media (min-width: 2200px) {
   body {
      margin-left: 17%;
      margin-right: 17%;
   }
}
@media (min-width: 2400px) {
   body {
      margin-left: 20%;
      margin-right: 20%;
   }
}
header {
   text-align: center;
}

nav {
   font-size: 1.25em;
}

a {
   color: rgb(208, 208, 208);
   text-decoration: none;
}

a:hover {
   color: rgb(255, 255, 255);
}

#del-btn {
   background-color: red;
}

input {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
   border: 2px solid whitesmoke;
   border-radius: 4px;
   background-color: black;
   color: whitesmoke;
   font-size: 1.5rem;
}

input:focus {
   outline: none;
   border-color: rgb(193, 193, 193);
}

#submit-btn {
   background-color: whitesmoke;
   color: black;
   border: 2px solid black;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
}

#submit-btn:hover {
   background-color: grey;
}

#submit-btn:active {
   background-color: rgb(30, 30, 30);
   color: whitesmoke;
}

#reset-btn {
   background-color: whitesmoke;
   color: black;
   border: 2px solid black;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
}

#reset-btn:hover {
   background-color: grey;
}

#reset-btn:active {
   background-color: rgb(30, 30, 30);
   color: whitesmoke;
}
